{{ form_start(form) }}
                        <h3><i class="bi bi-lock"></i>  Change password</h3>
                        <p>Current password</p>
                        <div>
                            {{ form_widget(form.inputPasswordold, { 'attr': {'id': 'inputPasswordold'} }) }}
                            {#<input type="password" class="form-control" id="inputPasswordold" placeholder="Password">#}
                        </div>
                        <p>New password</p>
                        <div>
                            {{ form_widget(form.inputPasswordnew1, { 'attr': {'id': 'inputPasswordnew1'} }) }}
                            {#<input type="password" class="form-control" id="inputPasswordnew1" placeholder="Password">#}
                        </div>
                        <p>Confirm new password</p>
                        <div>
                        {{ form_widget(form.inputPasswordnew2, { 'attr': {'id': 'inputPasswordnew2'} }) }}
                            {#<input type="password" class="form-control" id="inputPasswordnew2" placeholder="Password">#}
                        </div>
                        <div>
                            {{ form_widget(form.submit) }}
                            {#<button class="btn btn-primary" type="submit" id="submit_password">Submit form</button>#}
                        </div>
                    
{{ form_end(form) }}
